.project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.spec-project {
  width: 600px;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px gray;
  text-decoration: none;
}

.spec-project:visited {
  color: black
}

.pic-vc {
  height: 315px;
  width: auto;
}

.vid-gf {
  height: 315px;
  width: 420px;
}

.project-desc {
  text-align: start;
}

.tech-used {
  text-align: start;
}

.tech-list {
  text-align: start;
}
