.project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.spec-project {
  width: 600px;
  background-color: white;
  margin-top: 3%;
  padding: 20px;
  border: 1px solid lightgrey;
  text-decoration: none;
  transition: border 0.2s linear;
}

.spec-project:hover {
  border: 1px solid darkseagreen;

}

.spec-project:visited {
  color: black
}

.pic-vc {
  height: 315px;
  width: initial;
}

.ptc {
  width: inherit;
}

.vid-gf {
  height: 315px;
  width: 420px;
}

.project-desc {
  text-align: start;
}

.tech-used {
  text-align: start;
}

.tech-list {
  text-align: start;
}
