.Navbar {
  text-align: center;
  background-color: rgb(83, 141, 218);
  min-height: 5%;
}

.navbar-btns {
  display: flex;
  justify-content: space-between;
}

.navbar-btns div {
  padding: 2px 5px 2px 5px
}
