.Navbar {
  text-align: center;
  background-color: white;
  min-height: 5%;

  border-bottom: 0em;
  border-bottom-color: black;
}

.navbar-btns {
  display: flex;
  justify-content: space-between;
}

.navbar-btns div {
  padding: 2px 5px 2px 5px
}

.navbar-underline {
  display: none
}
