.Navbar {
  text-align: center;
  background-color: white;
  min-height: 5%;
  font-family: 'Titillium';
  border-bottom: 0em;
  border-bottom-color: black;
  display: flex
}

.navbar-logo {
  height: 40px;
  width: 70px;
  padding: 7px 0 5px 0
}

.navbar-spacer {
  flex-grow: 1
}

.navbar-btns {
  display: flex;
  justify-content: right;
  text-align: right
}

.navbar-btns div {
  padding: 2px 5px 2px 5px
}

.navbar-underline {
  display: none
}

.navbar-bottom-spacer {
  background-color: #f5f8fa;
  padding: 0
}
