.about-and-social {
  display: flex;
  justify-content: space-between;
  background-color: white
}

.about-me {
  flex: 2;
  text-align: start;
  padding-left: 100px
  /* padding: 0px 150px 0px 150px */
}

.social-media {
  flex: 1;
  /* padding: 0px 50px 0px 50px; */
  /* justify-content: space-around */
}

.social-media-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
