.about-and-social {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.about-me {
  flex: 2;
  text-align: start;
  /* padding-left: 100px;
  padding-right: 50px */
  padding: 0px 50px 21px 100px
}

.social-media {
  flex: 1;
}

.social-media-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social-link {

  width: 100px;
  margin: 1px;
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.social-link:hover {
  border-radius: 7px;
  background-color: #f5f8fa
}
